---
layout: default
title: Home
---

<script type="text/javascript" src="https://s.hatena.ne.jp/js/HatenaStar.js"></script>
<script type="text/javascript">
Hatena.Star.SiteConfig = {
  entryNodes: {
    'div.posts': {
      uri: 'h3 a',
      title: 'span.post-title',
      container: 'span.post-date'
    }
  }
};
</script>

<h2>Recent Articles</h2>

{% for post in site.posts limit:8 %}
<div class="posts">
  <h3>
    <a href="{{ site.github.url }}{{ post.url }}">[{{ post.category }}] <span class="post-title">{{ post.title }}</span></a>
  </h3>
  {% if post.image.teaser %}
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/images/{{ post.image.teaser }}"></a>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 100 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%B %-d %Y, %H:%M"  }} </span>
  </p>
</div>
{% endfor %}
