---
layout: default
title: Home
---

<h1>What is section 01</h1>

<p>sylph01's website.</p>

<h2>About the author</h2>

<ul>
<li>Name: sylph01 / Ryo Kajiwara</li>
<li>lang: ja, en(, de?)</li>
<li>writes code: Ruby, Elixir</li>
<li>secures systems</li>
<li>writes tech books @ <a href="https://cryptic-command.net/">Cryptic Command</a></li>
<li><a href="https://speakerdeck.com/sylph01">talks at cons and meetups</a></li>
<li>plays the bassoon</li>
<li>plays games: DDR, M:tG</li>
</ul>

<h2>Links</h2>

<ul>
<li><a href="https://argentum.works">ArgentumWorks</a>(ja; work stuff)</li>
<li><a href="https://d.s01.ninja">そんなことはさておいて</a>(ja; blog)</li>
</ul>

<hr />

<h2>Posts</h2>

{% for post in paginator.posts %}
<div class="posts">
  <h3>
    <a href="{{ site.github.url }}{{ post.url }}">[{{ post.category }}] {{ post.title }}</a>
  </h3>
  {% if post.image.teaser %}
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/images/{{ post.image.teaser }}"></a>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 100 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-button">Newer</span>
  {% endif %}

</div>
